mapbox
pandas
json5
tabulate
newsapi-python
requests
langchain
langchain-community
langchain_core
fastapi
python-dotenv
osmnx
numpy
geopy
geopandas
tabulate
langchain_community
langchain_openai